@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic");

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #e8eef2;
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin-bottom: 1rem;
    color: #0d2c44;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.counter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    background-color: #bb1f35;
    text-align: center;
}

.counter-content p {
    color: #ffffff;
}

.counter-content p:first-child {
    font-size: 60px;
}

.counter-content p:last-child {
    font-size: 30px;
}
